<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>Inventory_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>model.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierController</display-name>
    <servlet-name>SupplierController</servlet-name>
    <servlet-class>controller.SupplierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierController</servlet-name>
    <url-pattern>/SupplierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockController</display-name>
    <servlet-name>StockController</servlet-name>
    <servlet-class>controller.StockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockController</servlet-name>
    <url-pattern>/StockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersController</display-name>
    <servlet-name>OrdersController</servlet-name>
    <servlet-class>controller.OrdersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersController</servlet-name>
    <url-pattern>/OrdersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesController</display-name>
    <servlet-name>SalesController</servlet-name>
    <servlet-class>controller.SalesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesController</servlet-name>
    <url-pattern>/SalesController</url-pattern>
  </servlet-mapping>
</web-app>